@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@500&family=Montserrat:wght@100;300;400;500;600&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,900&display=swap');

:root {
 --color-grayscale-1: #fff;
 --color-grayscale-2: #dedede;
 --color-grayscale-3: #ccc;
 --color-grayscale-4: #666;
 --color-grayscale-5: #4d4d4d;
 --color-grayscale-6: #262626;
 --color-grayscale-7: #000;
 --color-warm-1: #ffb199;
 --color-warm-2: #ff8a66;
 --color-warm-3: #ff6333;
 --color-warm-4: #db2c00;
 --color-warm-5: #661800;
 --color-cool-1: #9fbef9;
 --color-cool-2: #6e9ef7;
 --color-cool-3: #3e7ef4;
 --color-cool-4: #255b98;
 --color-cool-5: #062560;
 --color-pink-1: #f99fb6;
 --color-pink-2: #f66f91;
 --color-pink-3: #f33f6c;
 --color-pink-4: #dd0e42;
 --color-pink-5: #60061d;
 --color-green-1: #80e5de;
 --color-green-2: #56dcd3;
 --color-green-3: #23a9a0;
 --color-green-4: #1a7f78;
 --color-green-5: #115550;
 --color-green-6: #051c1a;
 --color-purple-1: #e3b5db;
 --color-purple-2: #d68fc9;
 --color-purple-3: #ba45a5;
 --color-purple-4: #7b2d6d;
 --color-purple-5: #381531;
 --fontHeader: 2.5rem;
 --fontsizeH1: 2rem;
 --fontsizeh2: 1.3rem;
 --fontsizeh3: 1.1rem;
 --fontsizeh4: 1rem;
 --fontsizeh5: 0.8rem;
 
 --section-space: 3.5rem;
}

/*
Font families
font-family: 'Bebas Neue', sans-serif;
font-family: 'Comfortaa', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;

*/

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    min-height: 100vh;
    background-color: var(--color-grayscale-1);

    display: grid;
    grid-template-columns: 1fr;
/*
fra alex angående grid: 3 rows og 3 colums 1fr max-px 1fr. sidene fyller opp ledig plass og "midten" tar den plassen den trenger
*/

}
/* -------------------------------------------------------------- */
/* ---------------- H E A D E R / NAV-BAR  ---------------------- */
/* -------------------------------------------------------------- */
header {
    background: var(--color-green-1);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 45px;
    box-shadow: 0 0 2em rgba(0,0,0,.1);
}

/*  Må lage en ny header som ikke har posisjon fixed   */

.logo-design {
    color: var(--color-cool-5);
    font-size: var(--fontsizeH1);
    padding: 20px;
}
/*---- fjerner checkboxen--*/ 
.nav-dropdown {
    display: none;
}
/*---- posisjonerer <span> mao det området man kan checke som ikke er checkbox. Vil ha meny dropdown i venstre øvre hjørne så da må top og left være 0. margin left er samme som margin left i nav li--*/ 
.nav-dropdown-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-dropdown-label span, 
.nav-dropdown-label span::before, 
.nav-dropdown-label span::after {
    display: block;
    background: var(--color-cool-5);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

/* --- for at pseudo elementer skal synes -- */
.nav-dropdown-label span::before, 
.nav-dropdown-label span::after {
    content: '';
    position: absolute;
}

/* --- flytter den øverste og nederste streken til riktig posisjon --*/ 
.nav-dropdown-label span::before {
    bottom: 7px;
}

.nav-dropdown-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--color-green-1);
    padding: 0px 0px 20px 20px;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    /*display: none;*/ /*--display none fordi jeg legger inn pseudoklasse :checked som leter etter checkboxer. Den skal fjernes senere.--*/
    transform: scale(1, 0); /*første tallet beholder bredden 100% men fjerner all høyde, viser 0 høyde%*/
    transform-origin: top; /*definerer hvor transform skal begynne*/
    transition: transform 400ms ease-in-out; /* definerer overgangen fra transform i nav til transform i .nav-dropdown:checked ~ nav */
}

nav ul { 
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: var(--color-grayscale-6);
    text-decoration: none;
    opacity: 0; /*gjør linker usynlige men de er der. de blir synlige i .nav-dropdown:checked ~nav a*/
    font-size: var(--fontsizeh2);
    transition: 0s color;
}

nav a:hover {
    color: var(--color-warm-3);
    text-transform: uppercase;
}

.nav-dropdown:checked ~ nav { /*--tilde ~ leter etter en nav som er "søsken" til nav-dropdown. Så når nav blir "checked" så vil nav-dropdown displayes som block. Men checkboxen skal fjernes --*/
    /*display:block;*/
    transform: scale(1,1); /*når den checkes vil den skalere fra (1,0) til (1,1) */
}

.nav-dropdown:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms; /* forsinkelse på åpning av meny*/
}



/* -------------------------------------------------------------- */
/* ---------------- M A I N / HOVEDINNHOLD ---------------------- */
/* -------------------------------------------------------------- */

main {
    width: 100%;
}

/* ---------------- Index: søkefelt og kategoriknapper ---------------------- */

.search-section {
    padding: 10px;
}

.search-bar {
    display: flex;
    justify-content: center;
}

.categories-btn {
    display: flex;
    justify-content: center;
}

.f-btn {
    display: inline-block;
    padding: 1rem;

    border-radius: 20px 20px 20px 0px;
    border: none;
}
/* ------------------------ Produktside ------------------------ */

/* ------------------------ Nyhetsseksjon ------------------------ */
.section-container-1 {
    margin: 100px 0px 0px 0px;
    width: 100%;
    padding: 3% 0px 30px 0px;

    background-color: var(--color-green-5);
    background-image: linear-gradient(120deg, var(--color-green-5),var(--color-cool-4));

    display: flex;
    justify-content: center;
}

.news-container {
    background-image: url(/IMG/sneakers-5578127_1280.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    width: 95%;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    color: var(--color-grayscale-1);
}

.news-button {
    background-color: var(--color-grayscale-1);
    color: var(--color-cool-5);
    font-size: 0.8rem;
    font-weight:500;
    width: 100px;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 .125em .5em var(--color-grayscale-6);
}


/* ------------------------ Kategorier ------------------------ */
.category-container {    
    padding: 0px;
    margin: 30px;
}

.category-header {
    font-size: var(--fontHeader);
    font-weight:600;

    color: var(--color-cool-5);
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}

.category {
   display: flex; 
   justify-content: space-evenly;
   text-align: center;
   flex-wrap: wrap;
}

.category-items {
    padding: 100px;
    margin: 0px;
    box-shadow: 0 .125em .5em var(--color-grayscale-6);
    
    background-size: cover;
    background-repeat: none;
    background-position: center;
    width: 300px;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
}

.category-button {
    background-color: var(--color-grayscale-1);
    color: var(--color-cool-4);
    font-size: 0.8rem;
    font-weight:500;
    border: var(--color-cool-4) 1px solid;
    width: 300px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    box-shadow: 0 .125em .5em var(--color-grayscale-6); 
}

/* ------------------------ Kategori 1: bildelinker til høstmote------------------------ */
#mote-1{
    background-image: url(/IMG/winter-boots-3867775_1280.jpg);
}
#mote-2 {
    background-image: url(/IMG/boots-1867379_1280.jpg);
}
#mote-3{
    background-image: url(/IMG/shoes-4026766_1280.jpg);
}
/* ------------------------ Kategori 2: bildelinker til casual------------------------ */
#casual-1 {
    background-image: url(/IMG/footwear-5408643_1280.jpg);
}

#casual-2 {
    background-image: url(/IMG/jordan-4657349_1280.jpg);
}

#casual-3 {
    background-image: url(/IMG/nike-5128118_1280.jpg);
}
/* ------------------------ Kategori 3: bildelinker til atletisk------------------------ */
#fri-1{
    background-image: url(/IMG/shoe-629644_1280.jpg);
}
#fri-2 {
    background-image: url(/IMG/shoe-629645_1280.jpg);
}
#fri-3 {
    background-image: url(/IMG/shoes-584850_1280.jpg);
}
/* ------------------------ Kategori 4: bildelinker til fancy------------------------ */

#fancy-1 {
    background-image: url(/IMG/fashion-601565_1280.jpg);
}
#fancy-2 {
    background-image: url(/IMG/black-shoes-2752226_1280.jpg);
}
#fancy-3 {
    background-image: url(/IMG/chelsea-boot-for-men-5851885_1280.jpg);
}

/* ------------------------ Populære varer-seksjon------------------------ */
.section-container-2 {
    margin: 0px;
    width: 100%;
    padding: 20px;
    background-color: var(--color-warm-1);
    background-image: linear-gradient(120deg, var(--color-warm-4),var(--color-warm-1));

    display: flex;
    justify-content: center;
}

.popular-container {
    margin: 10px;

    background-image: url(/IMG/feet-1840619_1280.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    width: 95%;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    color: var(--color-grayscale-1);
}

.popular-button {
    background-color: var(--color-grayscale-1);
    color: var(--color-warm-5);
    font-size: 0.8rem;
    font-weight:500;
    width: 100px;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 .125em .5em var(--color-grayscale-6);
}


/* -------------------------------------------------------------- */
/* -------------------- F O O T E R/ BUNN ----------------------- */
/* -------------------------------------------------------------- */
footer {
   margin-top: auto;
   width: 100%;
}

.footer-section{ 
    list-style: none;
    text-decoration: none;
}

/* --------------- F O O T E R/ NAV ----------*/
.footer-contact {
    background-color: var(--color-green-5);
    text-align: center;
}

.footer-contact a {
    text-decoration: none;
    list-style: none;
}

.contact {
    text-align: center;
    color: var(--color-grayscale-2);
}

.contact a:visited {
    color: var(--color-cool-2);
}

li {
    text-decoration: none;
    list-style-type: none;
    font-size: var(--fontsizeh5);
    color: var(--color-grayscale-1);
}
/* --------------- F O O T E R/ SOCIAL ----------*/

.footer-social {
    background-color: var(--color-green-6);
    bottom: 0;
}

.footer-social h3 {
    text-align: center;
    color: var(--color-grayscale-2);
}

.social-media {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.fa-brands {
    color: var(--color-grayscale-2);
}

#footer-copyrights {
    text-align: center;
    color: var(--color-grayscale-2);
    padding: 5px;
    font-size: 0.5rem;
}

/* ---------------  M E D I A  Q U E R Y : Mobile ----------*/

  @media screen and (min-width: 600px) {
    .nav-dropdown-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
        padding: 10px;
    }

    .logo-design {
        grid-column: 1 / 2;
    }

    nav {
        all: unset; /*tar av alt vi har gjort tidligere fra nav*/
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
    }

    .news-container .popular-container {
        background-size: cover;
        background-repeat: none;
        background-position: center;
        width: 50%;
        height: auto;

    }

    .category {
        display: flex;
        flex-wrap:wrap; 
    }


    
}